.org-dropdown-title {
	position: relative;

	width: 100%;
	height: 100%;
	padding: 0 5px;

	cursor: pointer;

	border-bottom: 1px solid var(--color-accent);

	font-size: 14px;
}

.org-dropdown-title::after {
	position: absolute;
	top: 5px;
	right: 5px;

	display: block;

	width: 10px;
	height: 10px;

	content: '';
	transition: 0.1s;
	transform: rotate(-45deg);

	border-bottom: 2px solid var(--color-accent-focus);
	border-left: 2px solid var(--color-accent-focus);
}

.org-dropdown-title.focused {
	border-bottom: 1px solid var(--color-accent-focus);
}

.org-dropdown-title.focused::after {
	transform: rotate(135deg);
}

.org-dropdown-options {
	position: relative;
	z-index: 1;

	margin: 0;
	padding: 0;

	list-style: none;

	background-color: var(--color-options-bg);
}

.org-dropdown-options> li {
	display: flex;

	height: 40px;
	padding: 0 5px;

	cursor: pointer;

	border-bottom: 1px solid var(--color-accent-focus);

	font-size: 14px;

	align-items: center;
}

.org-dropdown-options> li.selected {
	background-color: var(--color-options-selected);
}
